## SQLite3

#### In this notebook we will refresh our SQL syntax. 

#### Contents:  

1. Creating Database   
2. Populating the Database  
3. Extracting data from created database   
4. Update and Deleting entires in the database  
5. Webscraping and storing in SQLite.

In [1]:
## Loading required libraries

import sqlite3
sqlite3.__spec__

ModuleSpec(name='sqlite3', loader=<_frozen_importlib_external.SourceFileLoader object at 0x10e9da390>, origin='/Users/bobbyvegi/anaconda3/lib/python3.6/sqlite3/__init__.py', submodule_search_locations=['/Users/bobbyvegi/anaconda3/lib/python3.6/sqlite3'])

In [2]:
## Creating a database

con = sqlite3.connect('first_db.db')
c = con.cursor()

type(c)

sqlite3.Cursor

In [3]:
# Creating useful functions

def create_table():
    """
    Creating a table. 'our_data' is name of the table created in the database.
    'CREATE TABLE IF NOT EXISTS' -  SQL command
    """
    c.execute('CREATE TABLE IF NOT EXISTS our_data(datastamp TEXT, event TEXT, name TEXT)')
    

def data_entry():
    """
    Entering data 
    """
    c.execute('INSERT INTO our_data VALUES("2017-02-13","Birthday","Haripria")')
    con.commit()
    #c.close()
    #con.close()

In [4]:
## Creating table in the database
create_table()

## populating data base

data_entry()

In [5]:
## Import

import datetime
import random
import time

In [6]:
## Dynamically creating data

names = ['Haripria','vegi', 'Alex']
events = ['Birthday','Random', 'party']

def dynamic_data_fill():
    """
    Function to populate the database
    """
    date = str(datetime.datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S'))
    name = random.choice(names)
    event = random.choice(events)
    c.execute("INSERT INTO our_data VALUES (?,?,?)", (date,event,name))
    con.commit()

In [7]:
# Creating new table
create_table()

## Loop over data fill function to populate database
for i in range(100):
    dynamic_data_fill()
    ## Can add stop between runs
    #time.sleep(1)

## Closing connection after execution

#c.close()
#con.close()

### Working with the database created

In [8]:
def read_db(arg):
    i = 0
    c.execute('SELECT {} FROM our_data'.format(arg))
    for row in c.fetchall():
        i = i+1
        print(row)
        if i == 10:
            break
            
## We could also fetchmany instead of fetchall() method to see few rows at a tiem

In [9]:
## Selecting entire data set
read_db('*')

('2017-02-13', 'Birthday', 'Haripria')
('2018-02-05 21:22:27', 'party', 'Haripria')
('2018-02-05 21:22:27', 'Birthday', 'vegi')
('2018-02-05 21:22:27', 'party', 'vegi')
('2018-02-05 21:22:27', 'party', 'Alex')
('2018-02-05 21:22:27', 'Birthday', 'Haripria')
('2018-02-05 21:22:27', 'Birthday', 'vegi')
('2018-02-05 21:22:27', 'party', 'Alex')
('2018-02-05 21:22:27', 'Random', 'vegi')
('2018-02-05 21:22:27', 'Birthday', 'vegi')

In [10]:
## Specific Columns
read_db('name')

('Haripria',)
('Haripria',)
('vegi',)
('vegi',)
('Alex',)
('Haripria',)
('vegi',)
('Alex',)
('vegi',)
('vegi',)

In [11]:
## Where clause

c.execute("SELECT * FROM our_data WHERE datastamp > '2018-02-05 19:38:35' ")
c.fetchmany(10)

[('2018-02-05 21:22:27', 'party', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'Alex'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'Alex'),
 ('2018-02-05 21:22:27', 'Random', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi')]

In [12]:
## Multiple conditions 

c.execute("SELECT * FROM our_data WHERE datastamp > '2018-02-05 19:38:35' AND event = 'Birthday' ")
c.fetchmany(10)

[('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Alex')]

### Updating

In [13]:
def update_data():
    c.execute('SELECT * FROM our_data')
    c.execute('UPDATE our_data SET event = "vacation" WHERE event = "Random"')
    con.commit()
    c.execute('SELECT * FROM our_data') 
    return c.fetchmany(20)

In [14]:
update_data()

[('2017-02-13', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'party', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'Alex'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'Alex'),
 ('2018-02-05 21:22:27', 'vacation', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'vacation', 'Alex'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'vacation', 'Alex'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'vacation', 'vegi')]

In [15]:
c.execute('DELETE FROM our_data WHERE name = "Alex"')
con.commit()
c.execute('SELECT * FROM our_data') 
c.fetchmany(20)

[('2017-02-13', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'party', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'vacation', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'party', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'vacation', 'vegi'),
 ('2018-02-05 21:22:27', 'vacation', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria'),
 ('2018-02-05 21:22:27', 'Birthday', 'vegi'),
 ('2018-02-05 21:22:27', 'Birthday', 'Haripria')]

### Webscraping to be continued